@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #b2ccaf;
    --branco: #e8eaed;
    --cinza-claro: #9aa0a6;
    --cinza-escuro: #363636;
    --preto: #202124;
}

body {
    margin: 0;
    background: var(--preto);
    color: var(--branco);
    font-family: "Quicksand", sans-serif;
}

header {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background: var(--preto);
    z-index: 10;
    border-bottom: 1px;
    gap: 1rem;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
    color: var(--primary-color);
}

#titulo-principal{
    cursor: pointer;
}

div input {
    padding: 0.62rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid var(--cinza-claro);
    background: var(--preto);
    font-family: inherit;
    font-size: 1.2rem;
    transition: all 0.2s ease;
    width: 30rem;
    color: var(--branco);
    margin-right: .5rem;
}

div input::placeholder {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--cinza-claro);
}

div input:focus {
    outline: none;
    border-color: var(--preto);
    box-shadow: 0 0 0 0.1rem var(--cinza-claro);
}

#botao-busca {
    padding: 0.6rem 2rem;    
    border-radius: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: var(--preto);
    color: var(--branco);
    border: 1px solid var(--preto);
}

#botao-busca:hover {
    background-color: var(--primary-color);
    color: var(--preto);
    box-shadow: 0 0 0 0.1rem var(--primary-color);
}

#botao-busca:active {
    transform: scale(0.98);
}

.mensagem-inicial {
    text-align: center;
    font-size: 1.1em;
    color: var(--branco); 
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5; 
    text-align: justify;
}

.card-container:not(:empty) + #mensagem-inicial {
    display: none;
}

main {
    overflow-y: scroll;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 2rem;
    height: calc(100vh - 10rem - 4rem);
    -ms-overflow-style: none;  /* IE e Edge */
    
    .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
      padding-top: 60px;
    }
    
    .modal-content {
      background-color: var(--cinza-escuro);
      color: var(--branco);
      margin: 5% auto; 
      padding: 20px;
      width: 80%;
      max-width: 600px;
      border-radius: 8px;
      position: relative;
    }

    .close {
      color: #aaa;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: 200;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    .exemplos-container pre {
        background-color: var(--preto);
        display: block;
        padding: 10px;
        border-radius: 5px;
        white-space: pre-wrap; 
    }

    .link_modal{
        color: var(--primary-color);
        text-decoration: none;
    }
    
    scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

article {
    background-color: #292a2d;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 0.20rem;
    box-shadow: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
}

article:hover {
    transform: scale(1.01); 
    cursor: pointer; 
    background-color: #3c4043;
}

article h5 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
    color: var(--primary-color);
}

article p {
    margin: 0.5rem 0;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: var(--branco);
}

article p strong {
    color: var(--cinza-claro);
    font-weight: 400;
}

article a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 200;
}

article a:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--cinza-claro);
    background-color: var(--preto);
    padding: 15px 20px;
    border-top: 1px solid var(--cinza-escuro);
    font-size: 0.8rem;
}

.footer-location {
    color: #9aa0a6;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer-links a {
    color: var(--branco);
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: var(--primary-color);
}

@media (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    header h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    div input {
        width: 90vw;
        font-size: 1.2rem;
    }

    main {
        padding: 0 1rem;
    }

    article:hover {
        transform: none;
    }

    .card-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1rem;
        max-width: 70%;
        word-wrap: break-word;
    }

    div input,
    div input::placeholder {
        font-size: 1rem;
    }

    article h5 {
        font-size: 1.3rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer {
        display: none;
    }

    button {
        margin-top: 1rem;
    }
}