@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #b2ccaf;
    --branco: #e8eaed;
    --cinza-claro: #9aa0a6;
    --cinza-escuro: #363636;
    --preto: #202124;
    --card-bg: #292a2d; 
    --card-hover-bg: #3c4043; 
    --transition-fast: all 0.2s ease;
    --input-button-v-padding: 0.6rem; 
    --input-button-font-size: 1rem;
}

body {
    margin: 0;
    background: var(--preto);
    color: var(--branco);
    font-family: "Quicksand", sans-serif;
}

div button,
#botao-busca,
#btn-abrir-cmd {
    padding: var(--input-button-v-padding) 2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    font-size: var(--input-button-font-size); 
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--primary-color);
    color: var(--preto);
    border: 1px solid var(--primary-color);
    line-height: normal;
}

div button:hover {
    background-color: var(--preto);
    color: var(--primary-color);
    border-color: var(--primary-color); 
    box-shadow: 0 0 0 0.1rem var(--primary-color); 
}

div button:active {
    transform: scale(0.98);
}

div input {
    padding: var(--input-button-v-padding) 0.75rem; 
    border-radius: 1rem;
    border: 1px solid var(--cinza-claro);
    background: var(--preto);
    font-family: inherit;
    font-size: var(--input-button-font-size); 
    transition: var(--transition-fast);
    width: 22.5rem;
    color: var(--branco);
    margin-right: 0; 
    
    height: auto; 
    line-height: normal; 
}

div input::placeholder {
    font-size: var(--input-button-font-size); 
    font-weight: 300;
    color: var(--cinza-claro);
}

div input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.1rem var(--primary-color);
}

header {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background: var(--preto);
    z-index: 10;
    border-bottom: 1px solid var(--cinza-escuro);
    gap: 1rem;
}

header h1,
.titulo-principal { 
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
    color: var(--primary-color);
    cursor: pointer;
}

header > div { 
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

div input {
    margin-right: 0; 
}

main {
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 2rem;
    height: calc(100vh - 4rem - 2rem - 3.5rem); 
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;     
}

main::-webkit-scrollbar {
    display: none; 
}

.mensagem-inicial {
    background-color: var(--preto); 
    color: var(--primary-color); 
    font-size: 1.1em;
    padding: 30px; 
    border: 1px solid var(--cinza-escuro); 
    border-radius: 8px; 
    text-align: left; 
    width: 60%;
    max-width: 700px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5; 
    line-height: 1.6; 
}

.card-container:not(:empty) + #mensagem-inicial {
    display: none;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding-bottom: 3rem; 
}

article {
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    margin-bottom: 0; 
}

article:hover {
    transform: scale(1.01); 
    cursor: pointer; 
    background-color: var(--card-hover-bg);
}

article h5 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
    color: var(--primary-color);
}

article p {
    margin: 0.5rem 0;
    line-height: 1.6;
    font-size: 14px;
    color: var(--branco);
}

article p strong {
    color: var(--cinza-claro);
    font-weight: 400;
}

article a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 200;
}

article a:hover {
    text-decoration: underline;
}

#modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); 
    padding-top: 60px;
}

.modal-content {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    margin: 5% auto; 
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
    z-index: 10000; 
}

.close-card, 
.close-terminal { 
    color: var(--cinza-claro);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: 200;
    cursor: pointer;
}

.close-card:hover,
.close-card:focus {
    color: var(--primary-color);
    text-decoration: none;
}

.close-terminal { 
    float: right;
    position: absolute;
    z-index: 10000;
    margin-top: -10px; 
    
}

.exemplos-container pre {
    background-color: var(--preto);
    display: block;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap; 
}

.link_modal{
    color: var(--primary-color);
    text-decoration: none;
}

.link_modal:hover {
    text-decoration: underline;
}

#terminal-container {
    background-color: #000;
    color: var(--primary-color);
    font-family: 'Courier New', monospace;
    font-size: 16px;
    padding: 30px;
    margin-top: 25px;
    height: 400px; 
    overflow-y: auto;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    width: 100%; 
    box-sizing: border-box; 
    position: relative;
}

#output {
    margin-bottom: 20px;
}

.input-line {
    display: flex;
    align-items: baseline; 
}

.prompt {
    margin-right: 5px;
}

#command-input {
    background: none;
    color: inherit;
    border: none;
    outline: none; 
    flex-grow: 1; 
}

#command-input:focus {
    border: none;
    outline: none; 
    box-shadow: none; 
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--cinza-claro);
    background-color: var(--preto);
    padding: 15px 20px;
    border-top: 1px solid var(--cinza-escuro);
    font-size: 0.8rem;
    z-index: 9; 
}

.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0; 
    margin: 0; 
}

.footer-links a {
    color: var(--branco);
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: var(--primary-color);
}

@media (max-width: 1600px) {
    .card-container {
        grid-template-columns: repeat(3, 2fr);
        padding: 0 60px 0 60px;
    }

    header {
        flex-direction: column;
        padding: 1rem;
    }

    header h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    header > div {
        flex-direction: column;
        width: 100%;
    }

    div input {
        width: 100%; 
        max-width: 30rem; 
        font-size: 1.2rem;
    }
    
    div button {
        width: 100%;
        max-width: 30rem;
        margin-top: 0.5rem; 
    }
    
    .mensagem-inicial {
        width: 80%;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    header h1 {
        text-align: center;
        margin-bottom: 0.4rem;
    }

    .titulo-principal{
        font-size: 1rem; 
        word-wrap: break-word;
    }

    header > div {
        flex-direction: column;
        width: 100%;
    }

    div input {
        width: 100%; 
        max-width: 30rem; 
        font-size: 1.2rem;
    }
    
    div button {
        width: 100%;
        max-width: 30rem;
        margin-top: 0.5rem; 
    }

    main {
        padding: 0 1rem;
        margin-top: 1rem;
    }

    article:hover {
        transform: none;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .mensagem-inicial{
         font-size: 0.9rem;
         padding: 20px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 0.4rem; 
    }

    .titulo-principal{
        font-size: 1rem; 
        word-wrap: break-word;
    }

    .mensagem-inicial{
         font-size: 0.85rem;
    }
    
    article h5 {
        font-size: 1.3rem;
    }

    .footer {
        padding: 10px 10px;
    }
}
